# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# MLflow
mlruns/
*.log

# Data files 
data/v1/*.csv
data/v2/*.csv
data/v3/*.csv

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.tar